<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="kr.edcan.neologism">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".AppController"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionbar"
        tools:replace="android:allowBackup">
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.AuthActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DicMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DicViewActivity"

            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionbar" />
        <activity
            android:name=".activity.MyDicActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DicDetailViewActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.MyPageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.QuizActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.QuizViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.QuizResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SelectBestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TodayNeologismActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="6c81b4e91b018f9f82dce750f7f07b9723039bb2" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <receiver
            android:name=".utils.BootReceiver"
            android:enabled="true"
            android:exported="false"
            android:label="service.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name=".utils.ClipBoardService" />

        <activity
            android:name=".activity.MyDicViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NeologismBoardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NeologismBoardViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NeologismBoardPostActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".utils.KillProcess"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PolicyActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>